body {
    margin: 0;
    padding: 0;
    background: #262626;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 500px;
    height: 500px;
    background: #E31837;
    border-radius: 50%;
    position: relative;
    .line-1 {
        position: absolute;
        width: 400px;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        border-radius: 50%;
        border: 20px solid white;
        border-right-color: transparent;
    }
    .line-2 {
        width: 150px;
        height: 20px;
        background-color: white;
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
    }
    .circle {
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 120px;
        left: 130px;
    }
    .line-3 {
        position: absolute;
        width: 20px;
        height: 250px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .line-4 {
        position: absolute;
        width: 70px;
        height: 20px;
        background: white;
        top: 370px;
        left: 240px;
    }
}