body {
    margin: 0;
    padding: 0;
    background: #F0EFED;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin lashes {
    position: absolute;
    width: 2px;
    height: 8px;
    background: #3C2114;
    bottom: -8px;
    left: 48%;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #3C2114;
        top: -2px;
        left: -10px;
        transform: rotate(20deg);
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #3C2114;
        top: -2px;
        transform: rotate(-20deg);
        right: -10px;
    }
}

.frame {
    width: 350px;
    height: 420px;
    background: #F0D0D1;
    border: 20px solid white;
    position: relative;
    .body {
        position: absolute;
        width: 70%;
        height: 90%;
        background: #A35A37;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50% 50% 0 0;
        .arm {
            position: absolute;
            width: 45%;
            height: 20%;
            background: #7A3B1A;
            bottom: 10%;
        }
        .arm-left {
            @extend .arm;
            left: 0;
            border-radius: 0 50px 50px 0;
            transform: skewY(5deg);
        }
        .arm-right {
            @extend .arm;
            right: 0;
            border-radius: 50px 0 0 50px;
            transform: skewY(-5deg);
        }
        .bow {
            position: absolute;
            width: 30px;
            height: 25px;
            background: #F0D0D1;
            right: 25%;
            top: 8%;
            border-radius: 50% 15% 15% 50%;
            transform: rotate(10deg);
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: #F0D0D1;
                border-radius: 15% 50% 50% 15%;
                left: -30px;
            }
        }
        .heart {
            position: absolute;
            width: 85px;
            height: 85px;
            background: #F0D0D1;
            top: 70%;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #F0D0D1;
                transform: translateY(-50%);
            }
            &::after {
                @extend ::before;
                transform: translateX(-50%);
            }
        }
    }
    .eye {
        position: absolute;
        width: 20px;
        height: 10px;
        border: 3px solid #3C2114;
        border-top: 0;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        top: 35%;
    }
    .eye-left {
        @extend .eye;
        left: 32%;
        .lashes {
            @include lashes;
        }
    }
    .eye-right {
        @extend .eye;
        right: 32%;
        .lashes {
            @include lashes;
        }
    }
    .muzzle {
        position: absolute;
        width: 87px;
        height: 55px;
        background: #FFD49D;
        top: 45%;
        left: 27%;
        border-radius: 50px 0 0 50px;
        transform: rotate(-10deg);
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: #FFD49D;
            left: 100%;
            border-radius: 0 50px 50px 0;
            transform: rotate(20deg);
            transform-origin: left top;
        }
    }
    .nose {
        position: absolute;
        width: 56px;
        height: 42px;
        background: #3C2114;
        left: 42%;
        top: 42%;
        border-radius: 100% 100% 40% 40%;
    }
    .teeth {
        position: absolute;
        width: 44px;
        height: 40px;
        background: white;
        left: 44%;
        top: 53%;
        border-radius: 5px;
        &::before {
            content: "";
            position: absolute;
            width: 2px; 
            height: 100%;
            background: #A35A37;
            left: 50%;
            transform: translateX(-50%);   
        }
    }
}
