* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brackets {
    width: 200px;
    height: 175px;
    background: white;
    border-radius: 31px;
    position: relative;
    box-shadow: 0 0 0 28px #29A9E1,
    0 28px 0 28px #115A91;
    &::before {
        content: "";
        width: 50%;
        height: 44%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 28px solid #4D4D4D;
    }
    &::after {
        content: "";
        width: 10%;
        height: 100%;
        background: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}