$yellow : #FED90F;
$mouthColor : #D1B271;
$collarColor : white;
* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #DE433F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    position: relative;
    width: 215px;
    height: 405px;
    .forehead {
        position: absolute;
        width: 170px;
        height: 200px;
        background: $yellow;
        border: 1px solid #000;
        top: 10px;
        border-radius: 60%/50%;
        transform: rotate(-18deg);
    }
    .hair1 {
        position: absolute;
        width: 80px;
        height: 70px;
        border-top: 2px solid #000;
        top: 15px;
        border-radius: 50%;
        transform: rotate(-40deg);
    }
    .hair2 {
        @extend .hair1;
        top: inherit;
        left: 10px;
        transform: rotate(-30deg);
    }
    .r-eye {
        position: absolute;
        width: 75px;
        height: 75px;
        background: white;
        border: 1px solid #000;
        border-radius: 50%;
        left: 120px;
        top: 110px;
        .pupi-right {
            position: absolute;
            width: 9px;
            height: 9px;
            background: #000;
            border-radius: 50%;
            left: 35px;
            top: 40px;
        }
    }
    .l-eye {
        @extend .r-eye;
        left: 60px;
        top: 115px;
        .pupi-left {
            @extend .pupi-right;
            left: 25px;
        }
    }
    .f-side1 {
        position: absolute;
        width: 140px;
        height: 60px;
        background: $yellow;
        top: 185px;
        left: 30px;
    }
    .f-side2 {
        position: absolute;
        width: 40px;
        height: 60px;
        background: $yellow;
        top: 165px;
        left: 22px;
        transform: rotate(-11deg);
        border-left: 1px solid #000;
    }
    .nose {
        position: absolute;
        width: 60px;
        height: 32px;
        background: $yellow;
        top: 175px;
        left: 130px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
    }
    .mouth {
        position: absolute;
        width: 115px;
        height: 120px;
        background: $mouthColor;
        top: 207px;
        left: 60px;
        border-radius: 50%;
        border: 1px solid #000;
        .mouth-part1 {
            position: absolute;
            width: 20px;
            height: 30px;
            background: $mouthColor;
            top: 62px;
            left: 98px;
            border-radius: 50%;
            border-right: 1px solid #000;
            transform: rotate(15deg);
        }
        .mouth-part2 {
            position: absolute;
            width: 120px;
            height: 60px;
            background: $mouthColor;
            top: 20px;
            left: 30px;
            border-radius: 60%;
            border-bottom: 1px solid #000;
            transform: rotate(-6deg);
        }
    }
    .mouth-part3 {
        position: absolute;
        width: 35px;
        height: 48px;
        background: $mouthColor;
        top: 230px;
        left: 165px;
        border-radius: 10%;
        border-top: 1px solid #000;
        transform: rotate(40deg);
    }
    .mouth-part4 {
        position: absolute;
        width: 60px;
        height: 30px;
        background: $mouthColor;
        top: 200px;
        left: 130px;
        border-right: 1px solid #000;
        border-top-right-radius: 70%;
    }
    .mouth-part5 {
        position: absolute;
        width: 30px;
        height: 30px;
        background: $mouthColor;
        top: 260px;
        left: 80px;
    }
    .neck {
        position: absolute;
        width: 125px;
        height: 150px;
        background: $yellow;
        top: 200px;
        left: 28px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(2deg);
    }
    .collar-left {
        position: absolute;
        width: 110px;
        height: 60px;
        background: $collarColor;
        top: 330px;
        left: 10px;
        transform: rotate(15deg);
        border-radius: 10%;
        border: 1px solid #000;
    }
    .collar-right {
        position: absolute;
        width: 20px;
        height: 50px;
        background: $collarColor;
        top: 340px;
        left: 150px;
        transform: rotate(-20deg);
        border: 1px solid #000;
    }
    .ear {
        position: absolute;
        width: 32px;
        height: 37px;
        background: $yellow;
        top: 200px;
        left: 10px;
        border-radius: 50%;
        transform: rotate(10deg);
        border: 1px solid black;
        .ear-1 {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 8px;
            left: 8px;
            border-left: 1px solid #000;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            .ear-2 {
                position: absolute;
                width: 8px;
                height: 8px;
                top: -3px;
                border-bottom: 1px solid #000;
            }
        }
    }
}